.create-comment-ta {
    resize: none !important;
    overflow: hidden;
}

.create-comment-btn {
    padding-top: 5px;
    width: 18% !important;
}

.single-comment {
    display: inline-flex;
    margin-left: 0px;
}